body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.404_error {
  text-align: center;
  width: 60%; /* Ajustez la largeur selon vos besoins */
  margin: 0 auto; /* Pour centrer la div horizontalement */
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.404_error > * {
  margin: 10px;
}

.404_error img {
  width: 200px;
  height: auto;
}
